.App {
  font-family: sans-serif;
  text-align: left;
}

.content {
  display: flex;
  width: 100%;
}

.countries-list {
  display: flex;
  overflow-y: scroll;
  height: 300px;
  max-height: 300px;
}

.country-item {
  display: flex;
  margin: 3px 0;
  align-items: center;
  padding: 3px 10px;
  border: 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

.country-item.active {
  background: #73abdf;
}
